{{ header }}
<div id="error-not-found" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }} error">
      {{ content_top }}
      <h2 class="page_title">{{ heading_title }}</h2>
      <div class="error">
        <div class="error__box">
          <i class="fa fa-link"></i>
          <h2 class="error__subtitle">{{ text_error }}</h2>
          <p class="error__description">
          Sorry, but the page you are looking for is not found. Please, make sure you have typed the current URL.    </p>
          <a class="btn-default btn-default-grey" href="{{ continue }}">{{ button_continue }}</a>
        </div>
      </div>
    {{ content_bottom }}
    </div>
    {{ column_right }}
  </div>
</div>
{{ footer }}